@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject NavigationManager NavigationManager
@using Sep3Blazor.Authentication
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <button id="button-one" href="" @onclick="PerformLogout">
                    Log out
                </button>
            </AuthorizeView>
        </div>
        <div class="content px-4">
            @Body
        </div>
         <NotificationComponent/>
    </div>
</div>

@code
{

    public async Task PerformLogout()
    {
        try
        {
            ((CustomAuthenticationStateProvider) AuthenticationStateProvider).LogOut();
            NavigationManager.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }
}