@using Sep3Blazor.Data.GroupData
@using Sep3Blazor.Model
@using Sep3Blazor.Authentication
@using Sep3Blazor.Data.Refresh

@inject IGroupService _groupService
@inject AuthenticationStateProvider _authenticationStateProvider
@inject IRefreshServiceNavMem _refreshServiceNavMem
@inject NavigationManager _navigationManager

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-2 top-row sticky-top">
    <div class="container-fluid">
        <div>
            <button class="navbar-toggler" @onclick="ToggleNavMenu" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <a class="navbar-brand text-light" asp-area="" asp-page="/Index">NoteLender</a>
        @if (!_collapseNavMenu)
        {
            <AuthorizeView>
                <div class="form-group navbar-brand" asp-area="" asp-page="/Index">
                    <button class="btn btn-primary btn-block" href="" @onclick="PerformLogout">
                        Log out
                    </button>
                </div>
            </AuthorizeView>
        }
        <div class="@NavMenuCssClass navbar-collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item px-3">
                    <AuthorizeView>
                        <NavLink class="nav-link" href="" @onclick="CollapseNavMenu" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </AuthorizeView>
                </li>
                <li class="nav-item px-3">
                    <AuthorizeView>
                        <NavLink class="nav-link" href="Account" @onclick="CollapseNavMenu" Match="NavLinkMatch.All">
                            <span class="oi oi-file" aria-hidden="true"></span> Account
                        </NavLink>
                    </AuthorizeView>
                </li>
                @if (GroupList != null)
                {
                    <li class="nav-item px-3 d-flex flex-row align-items-center justify-content-between">
                        <div class="dropdown">
                            <AuthorizeView>
                                <button class="nav-link btn-special dropdown-toggle" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false"
                                        @onclick="e => _show = !_show"
                                        @onfocusout="OutFocus">
                                    <span class="oi oi-spreadsheet" aria-hidden="true"></span>
                                    My Groups
                                </button>
                            </AuthorizeView>
                            <div class="dropdown-menu pre-scrollable @(_show ? "show" : "")">
                                @foreach (var group in GroupList)
                                {
                                    <AuthorizeView>
                                        <NavLink class="dropdown-item" href="@("GroupPage/" + group.id + "/" + group.name)" @onclick="OutFocus" Match="NavLinkMatch.All">
                                            <span class="oi oi-people" aria-hidden="true"></span> @("Group " + group.name)
                                        </NavLink>
                                    </AuthorizeView>
                                }
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        @if (_collapseNavMenu)
        {
            <AuthorizeView>
                <div class="form-group navbar-brand" asp-area="" asp-page="/Index">
                    <button class="btn btn-primary btn-block" href="" @onclick="PerformLogout">Log out</button>
                </div>
            </AuthorizeView>
        }
    </div>
</nav>

@code {
    //Instance variables
    private bool _show = false;
    bool _collapseNavMenu = true;
    string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;
    public IList<Group> GroupList { get; set; }
    private User _cachedUser;
    
    //Activated for dropdown toggler
    private async Task OutFocus()
    {
        _collapseNavMenu = true;
        await Task.Delay(200);
        _show = false;
    }

    //Method to activate the navMenu toggler 
    void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

    // Method for grouping and hiding navbar contents
    void CollapseNavMenu()
    {
        _collapseNavMenu = true;
    }
    
    // Method to run, when user enters this page.
    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        _refreshServiceNavMem.RefreshRequested += RefreshState;
        _cachedUser = ((CustomAuthenticationStateProvider) _authenticationStateProvider).CachedUser;
        GroupList = await _groupService.GetGroupList(_cachedUser.id);
    }

    //Method shows list of groups
    public async void RefreshState()
    {
        GroupList = await _groupService.GetGroupList(_cachedUser.id);
        StateHasChanged();
    }

    //Method will log the user out of the system when used
    public async Task PerformLogout()
    {
        try
        {
            ((CustomAuthenticationStateProvider) _authenticationStateProvider).LogOut();
            _navigationManager.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }

}