@inject AuthenticationStateProvider _authenticationStateProvider;
@inject NavigationManager _navigationManager
@using Sep3Blazor.Authentication
@inherits LayoutComponentBase

<body>
<AuthorizeView>
    <NavMenu/>
</AuthorizeView>

<div class="container">
    @Body
</div>
<NotificationComponent/>
</body>
