@page "/"
@using Sep3Blazor.Data
@inject IAdultService AdultService
@inject NavigationManager NavigationManager;

<h1>Hello, world!</h1>

Welcome to your new app.
<input type="submit" value="Submit edited" @onclick="Edit">

@if (SearchPhrase == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <p>@SearchPhrase</p>
}


@code
{
    public string SearchPhrase;
    public IList<String> Adults { get; set; }


    protected override async Task OnInitializedAsync()
    {
       // base.OnInitialized();
        Console.WriteLine("2str");
        Adults = await AdultService.Connect("1");
        SearchPhrase = Adults[0];
    }

    

    public async Task Edit()
    {
        Adults = await AdultService.Connect("2");
        SearchPhrase = Adults[0];

    }
}