@page "/"
@using Sep3Blazor.Data
@using Sep3Blazor.Model
@inject IGroupService _groupService
@inject NavigationManager NavigationManager;

<h1>Hello, world!</h1>

Welcome to your new app.
<input type="submit" value="Get the second object from database" @onclick="Get">

@if (SearchPhrase == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <p>@SearchPhrase</p>
    <p>@SearchPhrase2</p>
}


@code
{
    public string SearchPhrase;
    public string SearchPhrase2;
    public IList<Note> NoteList { get; set; }
    public IList<Group> GroupList { get; set; }


    protected override async Task OnInitializedAsync()
    {
       // base.OnInitialized();
        Console.WriteLine("2str");
        NoteList = await _groupService.GetNoteList("3");
        GroupList = await _groupService.GetGroupList("1");
        SearchPhrase = NoteList[0].text;
        SearchPhrase2 = GroupList[0].name;
    }

    

    public async Task Get()
    {
        NoteList =await _groupService.AddNote("Dorin Smart");
        // Adults = await AdultService.Connect("5");
        SearchPhrase = NoteList[0].text;

    }
}