@page "/GroupPage"
@page "/GroupPage/{Id:int}" 

@using Sep3Blazor.Model
@using Sep3Blazor.Component
@using Sep3Blazor.Data.GroupMembersData
@using Sep3Blazor.Data.NoteData
@inject INoteService _noteService
@inject IGroupMembersService _groupMembersService
@using Microsoft.AspNetCore.Components.Web.Extensions.Head

<Title Value="@("Group "+Id)" />
<h3>GroupPage</h3>
<TabControl>
    <TabPage Text="Notes">
        <NoteListComponent GroupId="@Id"></NoteListComponent>
    </TabPage>
    <TabPage Text="Members">
        <MemberListComponent Id="@Id"></MemberListComponent>
    </TabPage>
    <TabPage Text="Invite">
        <InviteCOmponent Value="@Id"></InviteCOmponent>
    </TabPage>
</TabControl>

@code {

    [Parameter]
    public int Id { get; set; }
    
    [CascadingParameter]
    protected Task<AuthenticationState> AuthStat { get; set; }

    public string Value { get; set; }

    public IList<Note> Notes { get; set; }
    public IList<GroupMembers> GroupMembersList { get; set; }


    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("AdultPage");
        {
            Notes = await _noteService.GetNoteList(Id.ToString());
            GroupMembersList = await _groupMembersService.GetUserList(9);
            Console.WriteLine(Notes.Count);
            Console.WriteLine(GroupMembersList.Count);
        }
    }

    private void ChangeSelectedNote(Note note)
    {
        Value = note.id.ToString();
    }
    
    private void ChangeSelectedGroup(GroupMembers groupMembers)
    {
        Value = groupMembers.id.ToString();
    }

}