@page "/GroupListing"
@using System.Collections
@using Sep3Blazor.Data.GroupData
@using Sep3Blazor.Data.GroupMembersData
@using Sep3Blazor.Data.Refresh
@using Sep3Blazor.Model
@inject IGroupService _groupService
@inject IRefreshService _refreshService
@inject NavigationManager NavigationManager
<h3>GroupListing</h3>

@if (GroupList == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="col-sm-6" style="display:inline">
        <ul class="list-group">
            @foreach (var group in GroupList)
            {
                <li class="list-group-item onHoverChange" @onclick="@(() => ChangeSelectedGroup(group))">@group.id @group.name</li>
            }
        </ul>
    </div>
}



@code {

    public IList<Group> GroupList { get; set; }

    [Parameter]
    public string Value { get; set; }

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        _refreshService.RefreshRequested += RefreshState;
        Console.WriteLine("GroupListing");
        GroupList = await _groupService.GetGroupMembersList(Convert.ToInt32(Value));
    }

    private void ChangeSelectedGroup(Group group)
    {
        Value = group.id.ToString();
        Console.WriteLine(Value);
        NavigationManager.NavigateTo("/GroupPage/" + group.id);
    }
    
    public async void RefreshState()
    {
        Console.WriteLine("Hey, i got called from component GroupListing");
        GroupList = await _groupService.GetGroupMembersList(Convert.ToInt32(Value));
        StateHasChanged();
    }

}