@page "/"
@using Sep3Blazor.Data
@using Sep3Blazor.Model
@inject IGroupService _groupService
@inject INoteService _noteService
@inject NavigationManager NavigationManager;
@inject AuthenticationStateProvider AuthenticationStateProvider
@using LoginComponent

<h1>Hello, world!</h1>
<Login/>
<AuthorizeView>
    Welcome to your new app
    @context.User.FindFirst(claim => claim.Type.Equals("id")).Value
    <input type="submit" value="Get the second object from database" @onclick="AddGroup">
 
@if (SearchPhrase == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <p>@SearchPhrase</p>
}
@if (SearchPhrase2 == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <p>@SearchPhrase2</p>
  
}
</AuthorizeView>

@code
{
    public string SearchPhrase;
    public string SearchPhrase2;


    public Note Note;
    
    public IList<Note> NoteList { get; set; }
    public IList<Group> GroupList { get; set; }


    protected override async Task OnInitializedAsync()
    {
    // base.OnInitialized();
        Console.WriteLine("2str");
        //await AddGroup();
    //Note = await _noteService.GetNote(9,1);
    //SearchPhrase = Note.text;
        GroupList = await _groupService.GetGroupList("1");
        NoteList = await _noteService.GetNoteList("9");
        SearchPhrase2 = GroupList[0].name;
        //SearchPhrase = ;
    // await _groupService.RegisterUser(new User(0, "Test", "Test", "test2", "test"));


    //await _groupService.ValidateLogin("dorin", "123");
    }


    public async Task AddGroup()
    {
        await _groupService.AddGroup("newnewGroupName");
        SearchPhrase2 = GroupList.Last().name;
    }
    
    
    
    
}