@page "/Invitations"
@using System.Drawing
@using Sep3Blazor.Data
@using Sep3Blazor.Model
@inject IInvitationService _invitationService

<h3>Pending invitations</h3>
@foreach (var invitations in Iinvitations)
{
    <div class="card mb-2">
        <div class="card-header">
            @invitations.id
         
        </div>
        <div class="card-body">
            <p>@invitations.invitorId Wants you to pe apart of group @invitations.groupId </p>
            
            <button type="button" style="background-color: darkgreen ">Accept</button>
            <button type = "button" style="background-color: red">Decline</button>
            <button @onclick="@(() => RemoveInvitation(invitations.id))"><i class="oi oi-trash" style="color:red" /></button>
        </div>
    </div>
}
<h3>Invite user to group</h3>
<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
@code {
    public Invitation Invitation = new Invitation(0,0,0,0);

/*
    public class Invitation
    {
        public int id { get; set; }
        public int invitorId { get; set; }
        public int inviteeId { get; set; }
        public int groupId { get; set; }
    }
    */

    List<Invitation> Iinvitations = new List<Invitation>()
    {
        new Invitation(1,2,2,3),
        new Invitation(2,5,3,4)

    };

    private async Task RemoveInvitation(int invitationsId)
    {
        await _invitationService.DeleteInvitation(Invitation.id.ToString());
    }

}