@page "/Register"
@using Sep3Blazor.Model
@using Sep3Blazor.Data

<h3>Register</h3>
@inject NavigationManager NavigationManager

<EditForm Model="@user" OnValidSubmit="@RegisterUser">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <article class="card-body">

                    <div class="form-row">
                        <div class="col form-group">
                            <label>First Name :</label>
                            <InputText class="form-control" @bind-Value="user.FirstName"/>
                        </div>
                        <div class="col form-group">
                            <label>Last Name :</label>
                            <InputText class="form-control" @bind-Value="user.LastName"/>
                        </div><!-- form-group end.// -->
                        <div class="col form-group">
                            <label>Username :</label>
                            <InputText class="form-control" @bind-Value="user.Username"/>
                        </div>
                        <div class="col form-group">
                            <label>Password :</label>
                            <InputText class="form-control" type="password" @bind-Value="user.Password"/>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">Sign in</button>
                        </div>
                    </div>
                </article>
                <header class="card-header">
                    <h4 class="card-title mt-2">Register</h4>
                </header>
            </div>
        </div>
    </div>


</EditForm>


@code {
    private User user = new User(0,"","","","");
    private IUserService _userService = new UserService();

    private async Task RegisterUser()
    {
        await _userService.RegisterUser(user);
        NavigationManager.NavigateTo("/");
    }

}