@page "/Register"
@using Sep3Blazor.Model
@using Sep3Blazor.Data
@using Sep3Blazor.Data.UserData
@inject IUserService _userService

<h3>Register</h3>
@inject NavigationManager NavigationManager

<EditForm Model="@user" OnValidSubmit="@RegisterUser">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <br/>
    <div class="d-flex justify-content-center">
        <aside class="col-sm-4 " style="alignment: center">
            <div class="card">
                <article class="card-body">
                    <header class="card-header">
                        <h4 class="card-title text-center mt-2">Create account</h4>
                    </header>
                    <br/>
                    <div class="d-flex flex-column align-items-center">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="far fa-user-circle"></i>
                                    </span>
                                </div>
                                <InputText class="form-control" type="text" placeholder="First Name" @bind-Value="user.firstName"/>
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="far fa-user-circle"></i>
                                    </span>
                                </div>
                                <InputText class="form-control" type="text" placeholder="Last Name" @bind-Value="user.lastName"/>
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="far fa-user"></i>
                                    </span>
                                </div>
                                <InputText class="form-control" type="text" placeholder="Username" @bind-Value="user.username"/>
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                                <InputText class="form-control" type="password" placeholder="Password" @bind-Value="user.password"/>
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->

                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">Create account</button>
                        </div>

                        <p class="text-center">Have an account? <a href="#" @onclick="Back">Log In</a> </p>
                    </div>
                </article>
            </div>
        </aside>
    </div>


</EditForm>


@code {
    private User user = new User(0, "", "", "", "");

    private async Task RegisterUser()
    {
        await _userService.RegisterUser(user);
        NavigationManager.NavigateTo("/");
    }

    private async Task Back()
    {
        NavigationManager.NavigateTo("/Login");
    }

}