@page "/GroupListing"

@using Sep3Blazor.Data.GroupData

@using Sep3Blazor.Data.Refresh
@using Sep3Blazor.Model
@inject IGroupService _groupService
@inject IRefreshService _refreshService
@inject NavigationManager NavigationManager
<h3>My groups</h3>

@if (GroupList == null)
{
    <progress></progress>
}
else if (GroupList.Count == 0)
{
    <p>
        You are not part of any group.
         <br>
        You can create group Here or accept invitation on the right
    </p>
}
else
{
    <div class="col-sm-3" style="display:inline">
        <ul class="list-group">
            @foreach (var group in GroupList)
            {
                <li class="list-group-item onHoverChange" @onclick="@(() => ChangeSelectedGroup(group))">@group.name</li>
            }
        </ul>
    </div>
}



@code {

    public IList<Group> GroupList { get; set; }

    [Parameter]
    public string Value { get; set; }

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        _refreshService.RefreshRequested += RefreshState;
        Console.WriteLine("GroupListing");
        GroupList = await _groupService.GetGroupList(Convert.ToInt32(Value));
    }

    private void ChangeSelectedGroup(Group group)
    {
        Value = group.id.ToString();
        Console.WriteLine(Value);
        NavigationManager.NavigateTo("/GroupPage/" + group.id);
    }

    public async void RefreshState()
    {
        Console.WriteLine("Hey, i got called from component GroupListing");
        GroupList = await _groupService.GetGroupList(Convert.ToInt32(Value));
        StateHasChanged();
    }

}