@using Sep3Blazor.Model
@using Sep3Blazor.Data.GroupMembersData
@using Sep3Blazor.Authentication
@inject IGroupMembersService _groupMembersService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager


<div class="container-fluid">
    <br>
    <div class="col-5 offset-1">
        <div class="p-3 mb-2 bg-secondary text-white">
            Members
        </div>
        @if (GroupMembersList == null)
        {
            <p>
                <em>Loading...</em>
            </p>
        }
        else
        {
            <table class="table table-sm table-hover">
                @foreach (var member in GroupMembersList)
                {
                    <tbody>
                    <tr>
                        <th scope="col">
                            <i>Username</i>
                        </th>
                        <td>
                            <b>@member.username</b>
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">
                            <i>Remove</i>
                        </th>
                        <td>
                            <button @onclick="@(() => DeleteMember(member.id))">
                                <i class="oi oi-trash" style="color:red"/>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <br>
                }
            </table>
        }
    </div>
    <div class="col-3 offset-1">
        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleAddModal"><i class="oi oi-plus"></i> Leave Group</button>
        <div class="modal fade" id="exampleAddModal" tabindex="-1" aria-labelledby="exampleAddModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" style="background-color:white">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleAddModalLabel">Leave group @GroupId</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
                    </div>
                    <div class="modal-body">

                        <p>
                            <label>
                                Are you sure you want to leave this group?
                            </label>
                        </p>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" @onclick="@(() => LeaveGroup())">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public int GroupId { get; set; }

    public IList<GroupMembers> GroupMembersList { get; set; }

    private User cachedUser;

    protected override async Task OnInitializedAsync()
    {
        cachedUser = ((CustomAuthenticationStateProvider) AuthenticationStateProvider).cachedUser;
        GroupMembersList = await _groupMembersService.GetGroupMemberList(GroupId);
    }
    
    private async Task LeaveGroup()
    {
        await _groupMembersService.LeaveGroup(GroupId, cachedUser.id);
        NavigationManager.NavigateTo("/");
    }

    private async Task DeleteMember(int id)
    {
        await _groupMembersService.DeleteGroupMember(id);
        GroupMembersList = await _groupMembersService.GetGroupMemberList(GroupId);
    }

}